<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sidebar Fragment</title>
</head>
<body>
<!-- Menu -->
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme" th:fragment="sidebar">
    <div class="app-brand demo">
        <a href="" class="app-brand-link">
        <span class="app-brand-logo demo">
            <img th:src="@{/img/logo.png}" alt="Logo" width="25" height="25">
        </span>
            <span class="app-brand-text demo menu-text fw-bold ms-2">San Miguel</span>
        </a>
        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>
    <ul class="menu-inner py-1">
        <!-- Listado -->
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-list-ul"></i>
                <div class="text-truncate" data-i18n="Listado">Listado</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="servicios_deportivos" class="menu-link">
                        <div class="text-truncate" data-i18n="Reservas deportivas">Servicios deportivos</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="servicios_disponible" class="menu-link">
                        <div class="text-truncate" data-i18n="Reservas disponibles">Disponibles</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="espacios_deportivos" class="menu-link">
                        <div class="text-truncate" data-i18n="Espacios Deportivos"> Espacios Deportivos</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="agregar_servicios" class="menu-link">
                        <div class="text-truncate" data-i18n="Agregar Servicios"> Agregar Cancha / Servicio</div>
                    </a>
                </li>
            </ul>
        </li>
        <!-- Dashboard -->
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-layout"></i>
                <div class="text-truncate" data-i18n="Dashboard">Dashboard</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="dashboard_servicios" class="menu-link">
                        <div class="text-truncate" data-i18n="Servicios deportivos">Servicios deportivos</div>
                    </a>
                </li>
            </ul>
        </li>
        <!-- Creacion coordinadores -->
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class='menu-icon tf-icons bx bxs-user-plus'></i>
                <div class="text-truncate" data-i18n="Coordinadores">Coordinadores</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="crear_coordinador" class="menu-link">
                        <div class="text-truncate" data-i18n="Añadir Coordinadores">Añadir Coordinadores</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="lista_coordinadores" class="menu-link">
                        <div class="text-truncate" data-i18n="Lista de Coordinadores">Lista de Coordinadores</div>
                    </a>
                </li>

            </ul>
        </li>
    </ul>
</aside>
</body>
</html>